body {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

#title {
    font-family: 'Frogotype';
    font-size: 4em;
    color: greenyellow;
    text-align: center;
}

#gameUI { 
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

#display {
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
}
#codeArea {
    width: 400px;
    height: 300px;
    background-color: blue;
    border: 2px solid grey;
}

@font-face {
    font-family: Frogotype;
    src: url(./assets/fonts/FrogotypeRegular.ttf);
}