body {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

#title {
    font-family: 'Frogotype';
    font-size: 4em;
    color: greenyellow;
    text-align: center;
}

#gameTime {
    display: none;
    font-family: 'Courier New', monospace;;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}

#gameIntro{
    display: flex;
    justify-content: center;
}

#acceptanceLetter{
    color:white;
    font-size: 1.1em;
    white-space: pre-line;
}

#gameIntroOptions{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 40px;
}

button {

}

#gameUI { 
    display: none; /* Changes to flex when displayed */
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

#display {
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
}


#codeArea {
    position:relative;
    width: 400px;
    height: 300px;
    border: 2px solid grey;
}

/*#editor {
    white-space: pre-wrap;
}*/

#execute{
    position: absolute;
    bottom:10px;
    right:20px;
}

@font-face {
    font-family: Frogotype;
    src: url(./assets/fonts/FrogotypeRegular.ttf);
}